.kpi-widget {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.kpi {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.kpi span:first-child {
  font-weight: bold;
  color: #444;
}

.kpi span:last-child {
  color: #333;
}